<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../../jquery-mobile-css/bootstrap.min.css" rel="stylesheet">
<link href="../../jquery-mobile-css/carousel.css" rel="stylesheet">
  <link rel="stylesheet" href="../../jquery-mobile-css/jquery.mobile-1.4.5.min.css">
  <!-- Include the jQuery library -->
  <script src="../../jquery-mobile-js/jquery-2.1.4.min.js"></script>
  <!-- Include the jQuery Mobile library -->
  <script src="../../jquery-mobile-js/jquery.mobile-1.4.5.min.js"></script>
  <script src="../../jquery-mobile-js/bootstrap.min.js"></script>
  <script src="../../jquery-mobile-js/jssor.js"></script>
  <script src="../../jquery-mobile-js/jssor.slider.js"></script>

  <script>
     function Save () {
	  	var mess_name = $("#Pageone").find("#mess_name").val();
	  	var mess_text = $("#Pageone").find("#mess_text").val();	  
                if(mess_name != "" && mess_text != ""){
	  		$.ajax({
	      url: "./model/DoInsertNewsletters.php", 
	      type:"POST",
	      data: {
	      	mess_name:mess_name,
	      	mess_text:mess_text,
	      },
	      datatype:"text",//回傳的資料型態
	      success: function(data){
	      	alert(data);
	      	 location.href = "Newsletters.php";
	          },
	          error:function(xhr, ajaxOptions, thrownError){ 
	                    console.log(xhr.status); 
	                    console.log(thrownError);
	                 }

	        });	
            }
            else{
	  		alert("有欄位未正確填寫，請確認！");
	  	}
  };
  </script>
  <style>

    .menu{
      margin-left:-16.5px;
    }
    #down_menu{
      margin-left:2px;
    }
    textarea{
        width:200px;
    }
  </style>
</head>
<body >
<div data-role="page" id="Pageone" >
   <!-- Pageone header -->
  <div data-role="header" style=" background:#0097A7;border:0px;height:80px;">
		<br/>
		<div id='' class='' style="font-size:28px;color:white;text-align:center;">
			<a href="#" class="ui-btn-left ui-btn ui-icon-back ui-btn-icon-left ui-shadow ui-corner-all" data-rel="back" data-role="button" role="button">返回</a>
			揪客通
			<a href="../home/home.php" target="_self" class="ui-btn-right ui-btn ui-icon-home ui-btn-icon-left ui-shadow ui-corner-all" data-role="button" role="button">首頁</a>
		</div>
	</div>
    <div style="background:#001F33;border:0px;height:70px;">
      <br/>
      <div style="font-size:22px;color:white;text-align:center;">訊息推播</div>
    </div>
  <!-- End Pageone header -->
  <!-- Pageone main -->
  <div data-role="main" class="ui-content" id="content" style="margin:0 auto;height:630px;background:white;width:100%;margin-top:-20px">
      <div id='' class='row'>
          <div id='down_menu' >
<!--                            <form action="DoInsertNewsletters.php" method="get">
				 <input type="text" name="mess_name" placeholder="輸入標題">
                                 <input type="textarea" name="mess_text" placeholder="輸入內容"  style="height:150px; width:100%">
                                 <button class="ui-btn ui-btn-inline" type="submit" name="action" value="DoInsertNewsletters">儲存</button>
                            </form>-->
                        <form method="post">
                            <div data-role="fieldcontain" >
					<label class="Inputlabel" for="mess_name" >輸入標題</label>
					<input type="text" name="mess_name" id="mess_name" value=""  />
			    </div>
                            <div data-role="fieldcontain" >
					<label class="Inputlabel" for="mess_text" >輸入內容</label>
					<input type="text" name="mess_text" id="mess_text" value=""  />
			    </div>
                            <a onclick="Save()" id="submitBtn" name="submitBtn" data-role="button"  data-mini="true" data-inline="true"  data-iconpos="left">儲存</a>
                        </form>   
          </div>
      </div>
	</div><!-- END Pageone main -->
  <div data-role="footer" style="text-align:center;width:100%;height:60px;background:white;border:0px;">
    
  </div> 
  
</div> <!--end pageone -->

</body>
</html>